{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-eventsindexpage{% endblock %}

{% block content %}
  <h1 class="title is-1">{{ page.title }}</h1>

  <div class="block intro">{{ page.intro|richtext }}</div>

  {% if events %}
    {% for event in events %}
      {% with event=event.specific %}
        <a class="box" href="{% pageurl event %}">
        <div class="media">
          <div class="media-left is-hidden-mobile">
            <figure class="image is-128x128">
              {% image event.image fill-128x128 %}
            </figure>
          </div>
          <div class="media-content">
            <h2 class="title is-2">{{ event.title }}</h2>
            <p class="subtitle help">{{ event.event_date }}</p>
            <p>{{ event.intro|richtext }}</p>
          </div>
        </div>
        </a>
      {% endwith %}
    {% endfor %}
  {% else %}
    <p><i>Sorry, there are no events to display right now</i></p>
  {% endif %}


{% endblock %}
