{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load custom_filters %}
{% load static %}

{% block body_class %}template-blogpage{% endblock %}

{% block hero %}
  {% image page.image original as main_image %}
  <section class="hero hero-img is-medium" style="background-image:url({{ main_image.url }})">
    <div class="hero-body"></div>
  </section>
{% endblock %}

{% block content %}
  <div class="content">
    <h1 class="title is-1" id="event-name">{{ page.title }}</h1>
    <p class="subtitle help">{{ page.event_date }}</p>

    {% if messages %}
      {% for message in messages %}
        <article class="message {% if message.tags %}{{ message.tags }}{% endif %}">
          <div class="message-body">
            {{ message }}
          </div>
        </article>
      {% endfor %}
    {% endif %}

    {% if booking_form.non_field_errors %}
      <article class="message is-danger">
        <div class="message-body">{{ booking_form.non_field_errors }}</div>
      </article>
    {% endif %}

    <p class="intro is-italic is-size-5">{{ page.intro }}</p>

    {{ page.description|richtext }}

    {{ page.details|richtext }}

    {% if is_concluded  %}
      <div class="message is-danger">
        <div class="message-body">
          <p>This event has concluded and is no longer able to be booked</p>
        </div>
      </div>
    {% elif has_max_players and has_max_monsters %}
      <div class="message is-danger">
        <div class="message-body">
          <p>We're sorry, this event currently has the maximum amount of players and monsters. Please check back later to see if the limits increase.</p>
        </div>
      </div>
    {% else %}
      <h3 class="title is-3">Booking Form</h3>

      {% if has_max_players %}
        <div class="message is-warning">
          <div class="message-body">
            <p>Please note, we have currently reached the maximum amount of player spaces available for this event, but you can still book as a monster. Please check back later to see if the player limit increases.</p>
          </div>
        </div>
      {% endif %}

      {% if has_max_monsters %}
        <div class="message is-warning">
          <div class="message-body">
            <p>Please note, we have currently reached the maximum amount of monster spaces available for this event, but you can still book as a player. Please check back later to see if the monster limit increases.</p>
          </div>
        </div>
      {% endif %}

      <noscript>
        <div class="message is-danger">
          <div class="message-body">
            <p>Sorry - this booking form requires JavaScript to be enabled in order to function. Please contact the Jackals faction staff in order to book this event.</p>
          </div>
        </div>
      </noscript>

      <form class="form" id="booking_form" action="/submit-event-booking/" method="post">
        {% csrf_token %}

        <input type="hidden" name="event_id" value="{{ page.id }}" />

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ booking_form.first_name.label_tag }}*</label>
              <div class="control">
                {{ booking_form.first_name|addclass:'input' }}
              </div>
              {% if booking_form.first_name.errors %}
                <p class="help is-danger">{{ booking_form.first_name.errors }}</p>
              {% endif %}
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ booking_form.last_name.label_tag }}*</label>
              <div class="control">
                {{ booking_form.last_name|addclass:'input' }}
              </div>
              {% if booking_form.last_name.errors %}
                <p class="help is-danger">{{ booking_form.last_name.errors }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ booking_form.email.label_tag }}*</label>
              <div class="control">
                {{ booking_form.email|addclass:'input' }}
              </div>
              {% if booking_form.email.errors %}
                <p class="help is-danger">{{ booking_form.email.errors }}</p>
              {% endif %}
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ booking_form.contact_number.label_tag }}*</label>
              <div class="control">
                {{ booking_form.contact_number|addclass:'input' }}
              </div>
              {% if booking_form.contact_number.errors %}
                <p class="help is-danger">{{ booking_form.contact_number.errors }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="columns">
          <div class="column is-three-quarters">
            <div class="field">
              <label class="label">Lorien Trust player ID:</label>
              <div class="control">
                {{ booking_form.lt_player_id|addclass:'input' }}
              </div>
              <p class="help">{{ booking_form.lt_player_id.help_text }}</p>
              {% if booking_form.lt_pkayer_id.errors %}
                <p class="help is-danger">{{ booking_form.lt_player_id.errors }}</p>
              {% endif %}
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="id_player_type">{{ booking_form.player_type.label_tag }}</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select name="player_type" id="id_player_type">
                    {% for player_choice in booking_form.player_type %}
                      {% if player_choice.choice_label != 'Staff' %}
                        {% if player_choice.choice_label == 'Player' and not has_max_players %}
                          {{ player_choice }}
                        {% endif %}
                        {% if player_choice.choice_label == 'Monster' and not has_max_monsters %}
                          {{ player_choice }}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% if booking_form.player_type.errors %}
                <p class="help is-danger">{{ booking_form.player_type.errors }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="field">
          <h4 class="is-4">
            Event Price: <span id="player_cost" class="is-hidden">£{{ page.player_cost }} (Player)</span>
                         <span id="monster_cost" class="is-hidden">£{{ page.monster_cost }} (Monster)</span>
          </h4>
          <input type="hidden" name="player_cost" id="player_cost_value" value="{{ page.player_cost }}"/>
          <input type="hidden" name="monster_cost" id="monster_cost_value" value="{{ page.monster_cost }}">
        </div>

        <div class="columns is-hidden" id="character_details">
          <div class="column is-three-quarters">
            <div class="field">
              <label class="label">{{ booking_form.character_name.label_tag }}*</label>
              <div class="control">
                {{ booking_form.character_name|addclass:'input' }}
              </div>
              {% if booking_form.character_name.errors %}
                <p class="help is-danger">{{ booking_form.character_name.errors }}</p>
              {% endif %}
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ booking_form.character_faction.label_tag }}*</label>
              <div class="control">
                <div class="select is-fullwidth">
                  {{ booking_form.character_faction }}
                </div>
              </div>
              {% if booking_form.character_faction.errors %}
                <p class="help is-danger">{{ booking_form.character_faction.errors }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Catering</label>
          <p>Our events are catered at a nominal fee, but if you prefer you can manage your own provision. If you wish for
            us to provide you with food at the event, then please <b>tick below</b> and the cost will be added to the final
            booking price</p>
          <div class="control">
            <label class="checkbox" for="id_is_catering">
              {{ booking_form.is_catering }} <b>{{ booking_form.is_catering.label }}</b>
            </label>
          </div>
          {% if booking_form.is_catering.errors %}
            <p class="help is-danger">{{ booking_form.is_catering.errors }}</p>
          {% endif %}
          <p class="is-size-7">If you have any food requirements, please contact {{ page.catering_name }} ({{ page.catering_contact_email }}) to let them know.</p>
        </div>

        <div class="field">
          <h4 class="is-4">
            Catering Cost: <span class="is-hidden" id="player_catering_cost">£{{ page.player_catering_cost }} (Player)</span><span
            class="is-hidden" id="monster_catering_cost">£{{ page.monster_catering_cost }} (Monster)</span>
          </h4>
          <input type="hidden" name="player_catering_cost" id="player_catering_cost_value" value="{{ page.player_catering_cost }}"/>
          <input type="hidden" name="monster_catering_cost" id="monster_catering_cost_value" value="{{ page.monster_catering_cost }}">
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">{{ booking_form.emergency_contact_name.label_tag }}*</label>
              <div class="control">
                {{ booking_form.emergency_contact_name|addclass:'input' }}
              </div>
              {% if booking_form.emergency_contact_name.errors %}
                <p class="help is-danger">{{ booking_form.emergency_contact_name.errors }}</p>
              {% endif %}
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">{{ booking_form.emergency_contact_number.label_tag }}*</label>
              <div class="control">
                {{ booking_form.emergency_contact_number|addclass:'input' }}
              </div>
              {% if booking_form.emergency_contact_number.errors %}
                <p class="help is-danger">{{ booking_form.emergency_contact_number.errors }}</p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">{{ booking_form.home_address.label_tag }}</label>
          <div class="control">
            {{ booking_form.home_address|addclass:'textarea' }}
          </div>
          <p class="help">Please note, we only use this as a form of contact in an emergency, and is not required</p>
        </div>

        <div class="field">
          <label class="label">{{ booking_form.medical_information.label_tag }}</label>
          <div class="control">
            {{ booking_form.medical_information|addclass:'textarea' }}
          </div>
          <p class="help">Please note, we only use this in an emergency, and is not required</p>
        </div>

        <h3 class="is-3">
          Total Cost: £<span id="total_cost"></span>
          <div class="is-hidden">{{ booking_form.has_paid }}</div>
        </h3>

        <div class="field">
          <div class="control">
            <div id="smart-button-container">
              <div style="text-align: center;">
                <div id="paypal-button-container"></div>
              </div>
            </div>
          </div>
          <p class="help">* indicates a required field</p>
        </div>
      </form>
    {% endif %}

    <h3 class="title is-3">Attending Characters</h3>
    <p>Character count: {{ page.player_bookings|length }}, Monster count: {{ page.monster_bookings|length }}</p>

    {% if page.player_bookings %}
      <table class="table">
        <thead>
          <tr>
            <th>Character</th>
            <th>Faction</th>
          </tr>
        </thead>
        <tbody>
          {% for player in page.player_bookings %}
            <tr>
              <td>{{ player.character_name }}</td>
              <td>{{ player.get_character_faction_display }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p><i>No characters have booked yet - be the first!</i></p>
    {% endif %}

    <p class="has-text-right push-link-right"><a class="link paint-link" href="{{ page.get_parent.url }}">Return to events</a></p>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}&enable-funding=venmo&currency=GBP" data-sdk-integration-source="button-factory"></script>
  <script src="{% static 'js/booking-form.js' %}"></script>
{% endblock %}
