body.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dfc98b;
}

main.main {
  flex-grow: 1;
}

.font.fancy {
  font-family: 'Montez';
}

nav.navbar, footer.footer {
  background-color: #161E29 !important;
}

nav.navbar .navbar-brand img {
  margin-right: 6px;
}

.hero.hero-img {
  background-position: center 20%;
  background-size: cover;
}

.hero.hero-img.hero-img-center {
  background-position: center;
}

@media screen and (max-width: 500px) {
  .section.main-section {
    padding: 3rem 0;
  }
}

.box.paint {
  border-radius: 0;
  padding: 1rem!important;
  position: relative;
  margin-bottom: 3rem!important;
}

.box.paint:before,
.box.paint:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
}

.box.paint:before {
  background-image: url("/static/img/white-paint-edge-top.png");
  height: 18px;
  top: -18px;
  left: 0;
}

.box.paint:after {
  background-image: url("/static/img/white-paint-edge-bottom.png");
  height: 32px;
  bottom: -32px;
  left: 0;
}
