body.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #dfc98b;
}

main.main {
  flex-grow: 1;
}

.font.fancy {
  font-family: 'Montez';
}

nav.navbar, footer.footer {
  background-color: #161E29 !important;
}

nav.navbar .navbar-brand img {
  margin-right: 6px;
}

@media screen and (min-width: 1024px) {
  nav.navbar .navbar-end a.lt-link {
    color: #161E29 !important;
    background-color: white !important;
  }

  nav.navbar .navbar-end a.lt-link:hover {
    text-decoration: underline;
  }
}

nav.navbar .navbar-end a.lt-link:before {
  content: '';
  width: 25px;
  display: block;
  position: absolute;
  background-image: url("/static/img/white-paint-edge-left.png");
  height: 100%;
  top: 0;
  left: -25px;
}

.hero.hero-img {
  background-position: center 20%;
  background-size: cover;
}

.hero.hero-img.hero-img-center {
  background-position: center;
}

@media screen and (max-width: 500px) {
  .section.main-section {
    padding: 3rem 0;
  }
}

.box.paint {
  border-radius: 0;
  padding: 1rem!important;
  position: relative;
  margin-bottom: 3rem!important;
}

.box.paint:before,
.box.paint:after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
}

.box.paint:before {
  background-image: url("/static/img/white-paint-edge-top.png");
  height: 18px;
  top: -18px;
  left: 0;
}

.box.paint:after {
  background-image: url("/static/img/white-paint-edge-bottom.png");
  height: 32px;
  bottom: -32px;
  left: 0;
}

a.link.paint-link {
  background-image: url(/static/img/navy-link-bg.png);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 8px 30px;
  color: white;
}

a.link.paint-link:hover {
  text-decoration: underline;
}

.push-link-right a.link.paint-link {
  margin-right: -30px;
}

ul.ul {
  list-style: none;
  margin-left: 0
}
